*:hover {
    font-family: sans-serif , monospace;
}
#example { 
    color: gold;
}
.thing {
    color: rebeccapurple;
    text-align: center;
}
h1 {
    color: red;
    font-size : 3rem;
    font
}

